<a href="https://colab.research.google.com/github/YusufAbdurraahman/data-cleaning-practice-5/blob/main/data_cleaning_practice_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import data

In [15]:
import pandas as pd

Data collecting

In [23]:
df = pd.read_csv("Titanic-Dataset.csv")
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

Data understanding

In [17]:
df.shape

(100, 17)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   100 non-null    int64
 1   PassengerId  100 non-null    int64
 2   Survived     100 non-null    int64
 3   Sex          100 non-null    int64
 4   Age          100 non-null    float64
 5   Fare         100 non-null    float64
 6   Pclass_1     100 non-null    int64
 7   Pclass_2     100 non-null    int64
 8   Pclass_3     100 non-null    int64
 9   Family_size  100 non-null    float64
 10  Title_1      100 non-null    int64
 11  Title_2      100 non-null    int64
 12  Title_3      100 non-null    int64
 13  Title_4      100 non-null    int64
 14  Emb_1        100 non-null    int64
 15  Emb_2        100 non-null    int64
 16  Emb_3        100 non-null    int64
dtypes: float64(3), int64(14)
memory usage: 13.4 KB

In [19]:
df.describe()

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.00,100.00000,100.000000,100.00000,100.000000,100.000000
mean,840.500000,841.500000,0.360000,0.650000,0.355656,0.048333,0.230000,0.200000,0.57000,0.104000,0.770000,0.01,0.08000,0.140000,0.21000,0.040000,0.740000
std,29.011492,29.011492,0.482418,0.479372,0.161188,0.053429,0.422953,0.402015,0.49757,0.207885,0.422953,0.10,0.27266,0.348735,0.40936,0.196946,0.440844
min,791.000000,792.000000,0.000000,0.000000,0.005250,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00,0.00000,0.000000,0.00000,0.000000,0.000000
25%,815.750000,816.750000,0.000000,0.000000,0.271875,0.015412,0.000000,0.000000,0.00000,0.000000,1.000000,0.00,0.00000,0.000000,0.00000,0.000000,0.000000
50%,840.500000,841.500000,0.000000,1.000000,0.350000,0.025374,0.000000,0.000000,1.00000,0.000000,1.000000,0.00,0.00000,0.000000,0.00000,0.000000,1.000000
75%,865.250000,866.250000,1.000000,1.000000,0.426563,0.058556,0.000000,0.000000,1.00000,0.100000,1.000000,0.00,0.00000,0.000000,0.00000,0.000000,1.000000
max,890.000000,891.000000,1.000000,1.000000,0.925000,0.321798,1.000000,1.000000,1.00000,1.000000,1.000000,1.00,1.00000,1.000000,1.00000,1.000000,1.000000

In [20]:
df.isnull().sum()

Unnamed: 0     0
PassengerId    0
Survived       0
Sex            0
Age            0
Fare           0
Pclass_1       0
Pclass_2       0
Pclass_3       0
Family_size    0
Title_1        0
Title_2        0
Title_3        0
Title_4        0
Emb_1          0
Emb_2          0
Emb_3          0
dtype: int64

In [25]:
df.duplicated().sum()

np.int64(0)

In [26]:
df.Survived.value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [27]:
df.Sex.value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [ ]:
df = df.drop(df[df["Survived"] == df[0]])

In [32]:
df[(df["Age"] == 22.0) & (df["Survived"] == 0)].head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
80,81,0,3,"Waelens, Mr. Achille",male,22.0,0,0,345767,9.0000,NaN,S
112,113,0,3,"Barton, Mr. David John",male,22.0,0,0,324669,8.0500,NaN,S

Data cleaning

In [36]:
df = df.drop(["PassengerId"], axis = 1)

In [38]:
df = df.dropna()
df.isnull().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [39]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S